<?xml version="1.0"?>
<launch>
    <include file="$(find turtlebot_bringup)/launch/minimal.launch" />
    <include file="$(find turtlebot_navigation)/launch/gmapping_demo.launch" />
    <node name="map_server" pkg="map_server" type="map_server" args="$(find map_collector)/map/map.yaml"/>
    <node name="ros_agent_service" pkg="robot_evaluator" type="start_agent_end.sh" output="screen" />
</launch>
